.header{
    height: 300px;
    /* background-color: aqua; */
    background-image: url('download.jpg');
    /* background-image: url('../download\ \(1\).jpg'); */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    background-repeat: no-repeat;
    /* background-size: cover; */
    /* background-size: contain; */
    background-size: 500px;

}

h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: 'Courier New', Courier, monospace;
}

.second{
    /* display: none; */
    /* visibility: hidden; */

}

.blog{
    margin: 40px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px blueviolet;
}

.amet{
    border: 2px solid purple;
    /* display: block; */
}

li{
    /* display: inline; */
}

.dolor{
    border: 2px solid peru;
    display: inline-block;
}